<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Computer Science Graduate Student at
      <a class="underline-link" href="https://www.tamuk.edu" target="_blank"><strong>Texas A&M University - Kingsville</strong></a>. 
      with a keen interest in the exciting world of Machine Learning and Artificial Intelligence.
    </p>

    <p>
      My passion for problem-solving and developing real-time solutions drives my work, which can be explored in 
      further detail on this website.
    </p>

    <p>
      My fascination with Machine Learning models motivates me to create comprehensive systems that can be utilized in 
      today's constantly evolving world. As the Machine Learning space is still relatively unexplored, I am always 
      eager to push boundaries and develop novel solutions.
    </p>

    <p>
      As a hands-on engineer, I particularly enjoy constructing systems from scratch and working closely with other 
      skilled professionals. My experience and expertise in this area enable me to develop high-quality, innovative solutions.
    </p>

    <p>
      When I'm not in front of a computer, I enjoy a range of activities, from dancing to music to taking evening walks 
      or spending time with friends.
    </p>

  </div>
</section>
