<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a Software Engineer at
      <a class="underline-link" href="https://cs.nyu.edu/" target="_blank"><strong>Google</strong></a>. 
      I'm fascinated by the world of Cloud Technologies and Artificial Intelligence.
    </p>

    <p>
      As a software engineer, I enjoy solving problems and building extensible solutions. This website has all of my past and current 
      projects that have applications in the real-world.
    </p>

    <p>
      I am working as a software engineer at Google. I build software on the Google One team.
    </p>

    <p>
      Additionally, I'm learning about how Machine Learning could be used in the present world, as the Machine Learning space is new and is not completely explored, 
      recently I came across a wonderful paper on Artificial General Intelligence <a class="underline-link" href="https://arxiv.org/pdf/1911.01547.pdf" target="_blank"><strong>On the Measure of Intelligence</strong></a> by Francois Chollet, he identifies the 
      core knowledge that humans are innately born with to a list of just 4 broad skills elementary physics, goal-directedness, elementary arithmetic, geometry.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably exploring food places, playing Basketball,
      or reading a book (currently reading <a class="underline-link" href="https://www.amazon.com/dp/B01D24NAL6/ref=cm_sw_em_r_mt_dp_Fi6AFbVHZ5QSJ" target="_blank"><strong>Algorithms to Live By</strong></a>).
    </p>

  </div>
</section>
