<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Computer Science graduate student at
      <a class="underline-link" href="https://cs.nyu.edu/" target="_blank"><strong>New York University</strong></a>, <a class="underline-link" href="https://cs.nyu.edu/" target="_blank"><strong>Courant Institute of Mathematical Sciences</strong></a>. 
      I'm fascinated by the world of Machine Learning and Cloud Technologies.
    </p>

    <p>
      As a software engineering student, I enjoy solving problems and building extensible solutions. This website has all of my past and current 
      projects that have applications in the real-world.
    </p>

    <p>
      Currently, I am working as a software engineering intern at STRIVR. Currently, I have been learning how effective VR is in 
      the <a class="underline-link" href="https://www.strivr.com/resources/science/" target="_blank"><strong>immersive learning</strong></a> space. Automating key features in STRIVR's VR program creation application to facilitate report generation on users. 
      Working a lot with 360 &#176; videos, images, this has applications in <strong>Biomedical Image Enhancement & Analysis</strong>,
      <strong>Computer Vision</strong> essentially in processing videos, images.
    </p>

    <p>
      Additionally, I'm learning about how Machine Learning could be used in the present world, as the Machine Learning space is new and is not completely explored, 
      recently I came across a wonderful paper on Artificial General Intelligence <a class="underline-link" href="https://arxiv.org/pdf/1911.01547.pdf" target="_blank"><strong>On the Measure of Intelligence</strong></a> by Francois Chollet, he identifies the 
      core knowledge that humans are innately born with to a list of just 4 broad skills elementary physics, goal-directedness, elementary arithmetic, geometry.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably exploring food places, playing Basketball,
      or reading a book (currently reading <a class="underline-link" href="https://www.amazon.com/dp/B01D24NAL6/ref=cm_sw_em_r_mt_dp_Fi6AFbVHZ5QSJ" target="_blank"><strong>Algorithms to Live By</strong></a>).
    </p>

  </div>
</section>
